<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 th:text="${book.id == null} ? 'Thêm Sách' : 'Sửa Sách'"></h4>
        </div>
        <div class="card-body">
            <form th:action="@{/save}" th:object="${book}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label class="form-label">Tên Sách</label>
                    <input type="text"
                           th:field="*{title}"
                           class="form-control"
                           placeholder="Enter title">

                    <div class="text-danger"
                         th:if="${#fields.hasErrors('title')}"
                         th:errors="*{title}">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tác Giả</label>
                    <input type="text"
                           th:field="*{author}"
                           class="form-control"
                           placeholder="Enter author">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('author')}"
                         th:errors="*{author}">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Thời điểm xuất bản</label>
                    <input type="date"
                           th:field="*{date}"
                           class="form-control">
                    <div class="text-danger"
                         th:if="${#fields.hasErrors('date')}"
                         th:errors="*{date}">
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-secondary">← Quay lại</a>
                    <button type="submit" class="btn btn-primary">
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>